.DS_Store
.thumbs.db
node_modules

# Quasar core related directories
.quasar
/dist

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
src/assets/babaozhou_360g_1750.jpg
src/assets/baolayubang_500.jpg
src/assets/binghongcha_1L_1800.jpg
src/assets/binghongcha_1500.jpg
src/assets/chaotianjiao_50g_2500.jpg
src/assets/chuanqizhanliao_huoguo_120g_2100.jpg
src/assets/doubanjiang_400g_2100.jpg
src/assets/dougan_500.jpg
src/assets/fenhaozi_2000.jpg
src/assets/haerbinhongchang_4200.jpg
src/assets/haidilao_huoguotiaoweiliao_220g_4000.jpg
src/assets/haixianjiangyou_175_8000.jpg
src/assets/hongyoudousi_150g_5000.jpg
src/assets/hongyouzhacai_210g_1800.jpg
src/assets/huoguodiliao_360g_6450.jpg
src/assets/jiangyou_500ml_3080.jpg
src/assets/jianlibao_330ml_1500.jpg
src/assets/jijing_1000g_9550.jpg
src/assets/jingudoujuan_156g_2500.jpg
src/assets/kaiwei_shanzhayinliao_280g_1600.jpg
src/assets/kaolengmian_4100.jpg
src/assets/laochencu_3080.jpg
src/assets/longkoufensi_1600.jpg
src/assets/lvdoukuanfen_180g_2000.jpg
src/assets/malahuasheng_5000.jpg
src/assets/mayou_150ml_2950.jpg
src/assets/meiriyican_mankouxiang_210g_3200.jpg
src/assets/moliqingcha_1500.jpg
src/assets/moyuwan_4000.jpg
src/assets/naicha_500ml_1750.jpg
src/assets/naitang_dabaitu_108g_2260.jpg
src/assets/online_shop_logo.jpg
src/assets/shanzhenyouyu_500.jpg
src/assets/shaqima_5000.jpg
src/assets/shisanxiang_45g_2200.jpg
src/assets/shousixieliu_400.jpg
src/assets/shouzhuabing_450g_3400.jpg
src/assets/suanmeitang_1500.jpg
src/assets/suanxiangwandou_80g_2800.jpg
src/assets/tianshuixiangchang_220g_5800.jpg
src/assets/tiaodou_80g_2000.jpg
src/assets/wanglaoji_310ml_1500.jpg
src/assets/wujiangzhacai_80g_1000.jpg
src/assets/wuliangjianbing_200g_3500.jpg
src/assets/wulongcha_chapai_1500.jpg
src/assets/xiangdangjia_zhupaiwei_20g_500.jpg
src/assets/xianglahuasheng_112g_2100.jpg
src/assets/xianguocheng_500ml_1500.jpg
src/assets/yezisujuan_150g_4500.jpg
src/assets/zhenzhen_1500.jpg
src/assets/zhimajiang_225g_2600.jpg
src/assets/ziranbanganjinxing_110g_3950.jpg
src/assets/ziranxiangliao_bafu_1kg_16000.jpg
src/assets/ziranxiangliao_1kg_16000.jpg
src/assets/ziranfen_2500.jpg
src/assets/ziranfen_450g_11600.jpg
src/assets/zipiqiezigan_250g_6000.jpg
src/assets/zhusun_xianglawei_230g_4000.jpg
src/assets/zhuchadanliao_20g10ea_12000.jpg
src/assets/zhuchadanliao_20g_1500.jpg
src/assets/zhimajiang_225g_3800.jpg
src/assets/zaocanbinggan_500g_4000.jpg
src/assets/yuzitang_4500.jpg
src/assets/yuxiangrousitiaoliao_120g_4500.jpg
src/assets/yumimiantiao_2500g_14000.jpg
src/assets/yumimiantiao_400g_2500.jpg
src/assets/yudaimian_1kg_4000.jpg
src/assets/yuanqieningmeng_48g_4000.jpg
src/assets/yiner_50g_3500.jpg
src/assets/yiner_1kg_36000.jpg
src/assets/yezhitang_4500.jpg
src/assets/yexiangbaobing_liulianwei_5500.jpg
src/assets/yexiangbaobing_haiyanwei_5500.jpg
src/assets/yanzhichaotianjiao_500g_4000.jpg
src/assets/yangrouchuantiaoliao_lawei_60g_2500.jpg
src/assets/yangrouchuantiaoliao_lawei_1kg_28000.jpg
src/assets/yangrouchuantiaoliao_27g_1000.jpg
src/assets/xuemoyu_xianglawei_20ea_7500.jpg
src/assets/xuemoyu_malawei_20ea_7500.jpg
src/assets/xiapian_150g_2500.jpg
src/assets/xiaomahua_fengmiwei_4500.jpg
src/assets/xiaodangjia_zhupaiwei_800.jpg
src/assets/xianyadan_6ea_5000.jpg
src/assets/xianhuajiaoyou_400ml_10000.jpg
src/assets/xiangsudou_150g_2500.jpg
src/assets/xianglajinzhengu_400g_4500.jpg
src/assets/xiangguazi_yuanwei_5kg_38500.jpg
src/assets/xiangcuilanhuadou_wuxiang_2500.jpg
src/assets/xiangcuijiao_452g_9500.jpg
src/assets/xianduojiao_220g_4500.jpg
src/assets/xiafancai_210g_2200.jpg
src/assets/wuxiangfen_30g_1500.jpg
src/assets/wurenyuebing_4500.jpg
src/assets/wujiangzhacai_1500.jpg
src/assets/wowonaitang_150g_4500.jpg
src/assets/wenmiaoliao_30g_2200.jpg
src/assets/weixiangtiaoweiliao_2000.jpg
src/assets/weijixianjiangyou_500ml_5000.jpg
src/assets/wahahabinghongcha_1500.jpg
src/assets/tufengmi_500g_9500.jpg
src/assets/tudoufentiao_400g_3800.jpg
src/assets/tianmianjiang_400g_3500.jpg
src/assets/taitailejijing_100g_2500.jpg
src/assets/taitailejijing_1kg_16000.jpg
src/assets/suanxiangwandou_2500.jpg
src/assets/suanlafen_cup_2800.jpg
src/assets/suanlafen_105g_1800.jpg
src/assets/songhuadan_360g_5000.jpg
src/assets/shuijingmizao_3500.jpg
src/assets/shuijingfentiao_kuanfen_350g_3500.jpg
src/assets/shuiguoweitangqiu_3500.jpg
src/assets/shuanglaotouchou_500ml_5500.jpg
src/assets/shuangkoucai_210g_2200.jpg
src/assets/shisanxiang_malaxian_90g_2500.jpg
src/assets/shaqima_jidanwei_5000.jpg
src/assets/shanzhapian_330g_4000.jpg
src/assets/ruantangyumiwei_300g_3800.jpg
src/assets/qingxiangmicu_4500.jpg
src/assets/qingcuizhusun_2000.jpg
src/assets/qiaqiaxiangguazi_260g_yuanwei_3200.jpg
src/assets/qiaqiaxiangguazi_260g_yezixiang_3200.jpg
src/assets/qiaqiaxiangguazi_260g_wuxiang_3200.jpg
src/assets/naitang_xiangjiaowei_58g_3500.jpg
src/assets/naitang_mangguowei_58g_3500.jpg
src/assets/naitang_hongdou_58g_3500.jpg
src/assets/mutangchun_mangguoweiruantang_280g_4500.jpg
src/assets/muer_125g_5000.jpg
src/assets/moyushuang_xianglawei_6ea_2500.jpg
src/assets/mayou_400g_10000.jpg
src/assets/mapodoufutiaoliao_80g_2500.jpg
src/assets/mapodoufutiaoliao_45g_4500.jpg
src/assets/maoyou_725g_4500.jpg
src/assets/maltangfen_1800.jpg
src/assets/malingshudianfen_400g_3500.jpg
src/assets/malayou_400g_10000.jpg
src/assets/malaxiaoxianrou_20ea_6500.jpg
src/assets/malaxiangguotiaoweiliao_220g_5000.jpg
src/assets/malaxiangguotiaoweiliao_200g_4500.jpg
src/assets/malatangtiaoweiliao_zhoujunji_160g_2500.jpg
src/assets/malatangtiaoweiliao_5000.jpg
src/assets/malasansi_210g_2200.jpg
src/assets/malahuasheng_yuanwei_2500.jpg
src/assets/malahuasheng_210g_5000.jpg
src/assets/malafen_2500.jpg
src/assets/majiao_30g_2500.jpg
src/assets/lvdoukuanfen_2500.jpg
src/assets/longkoufensi_200g_2500.jpg
src/assets/liuliantang_4500.jpg
src/assets/liangpi_3500.jpg
src/assets/lengmiantangtiaoliao_5g_100ea_8500.jpg
src/assets/laoshishanzhatiao_180g_4000.jpg
src/assets/laoshijuziweitang_400g_3500.jpg
src/assets/laoganma_youlajiao_275g_4500.jpg
src/assets/laoganma_jiyoulajiao_280g_4500.jpg
src/assets/laoganma_280g_4500.jpg
src/assets/laochencu_1400ml_10000.jpg
src/assets/laochencu_500ml_4500.jpg
src/assets/lajiaoyou_60ml_2500.jpg
src/assets/lajiaomian_1kg_22800.jpg
src/assets/labasuan_380g_3000.jpg
src/assets/kangshifu_binghongcha_2000.jpg
src/assets/kangshifu_binghongcha_500ml6ea_10000.jpg
src/assets/kangbaojifen_1kg_22000.jpg
src/assets/jinzhengu_xianglawei_55g_2000.jpg
src/assets/jingjiangfen_50g_3500.jpg
src/assets/jinbiaoshengchou_4500.jpg
src/assets/jiemoyou_60g_2500.jpg
src/assets/jiayuanguoba_ziranwei_102g_2000.jpg
src/assets/jiayuanguoba_wuxiangwei_102g_2000.jpg
src/assets/jiayuanguoba_malawei_102g_2000.jpg
src/assets/jiaozibaozixianliao_30g_1500.jpg
src/assets/huoguozhanliao_xianglawei_150g_3500.jpg
src/assets/huoguotiaoliao_mala_100g_2000.jpg
src/assets/huoguotangliao_qingtang_5000.jpg
src/assets/huoguodunfen_300g_4500.jpg
src/assets/huoguodiliao_zhoujunji_200g_2500.jpg
src/assets/huoguodiliao_qingyou_220g_malawei_5000.jpg
src/assets/huoguodiliao_laoganma_160g_2800.jpg
src/assets/huashengzhimajiang_300g_4500.jpg
src/assets/huangtaoguantou_450g_4500.jpg
src/assets/huanghuashijin_210g_2200.jpg
src/assets/huangdoujiang_340g_3500.jpg
src/assets/huajiaofen_20g_2500.jpg
src/assets/huajiao_30g_2500.jpg
src/assets/hongyouzhacai_300g_4500.jpg
src/assets/hongyouzhacai_210_2200.jpg
src/assets/hongyoumianpi_suanlawei_1800.jpg
src/assets/hongyoumianpi_malawei_cup_2800.jpg
src/assets/hongyoumianpi_malawei_1800.jpg
src/assets/hongpailouchuancaigguan_1kg_16000.jpg
src/assets/hongfang_190g_3500.jpg
src/assets/heimuer_1kg_29800.jpg
src/assets/haixianjiangyou_1750ml_10000.jpg
src/assets/haixianjiangyou_500ml_4500.jpg
src/assets/haitianmicu_4500.jpg
src/assets/haitianjiangyou_laochouwang_500ml_4500.jpg
src/assets/haiqiwang_huoguozhanliao_xianglawei_150g_4000.jpg
src/assets/haidaijie_xianglawei_3000.jpg
src/assets/gouqizi_500g_12500.jpg
src/assets/gaojifenpi_200g_3500.jpg
src/assets/ganlancai_160g_2800.jpg
src/assets/ganlajiaosi_40g_3500.jpg
src/assets/ganlajiao_40g_3500.jpg
src/assets/ganlajiao_1kg_28000.jpg
src/assets/ganhuajiao_500g_24000.jpg
src/assets/fuzhu_163g_4000.jpg
src/assets/dunrouliao_35g_1500.jpg
src/assets/douxiangguoba_3000.jpg
src/assets/dounaifen_7500.jpg
src/assets/dougan_xianglawei_2000.jpg
src/assets/dougan_shaokaowei_2000.jpg
src/assets/dougan_paojiaowei_2000.jpg
src/assets/dougan_malawei_2000.jpg
src/assets/doubanjiang_1200g_12000.jpg
src/assets/doubanjiang_400g_3500.jpg
src/assets/dongbeilajiaomian_200g_5000.jpg
src/assets/dongbeilajiaomian_1kg_18000.jpg
src/assets/diguagan_200g_3500.jpg
src/assets/daxiasutang_400g_4500.jpg
src/assets/daoxiaomian_400g_4500.jpg
src/assets/dandongcujing_450ml_4500.jpg
src/assets/dabaitunaitang_5500.jpg
src/assets/chunzhimajiang_300g_4500.jpg
src/assets/chuanjiaosi_1kg_29800.jpg
src/assets/chongqingzhacai_yuanwei_800g_2500.jpg
src/assets/chongqinghuoguodililao_200g_3000.jpg
src/assets/chaotianlajiao_superhot_6800.jpg
src/assets/chaotianjiao_duanlajiao_50g_3500.jpg
src/assets/chaohuashengmi_yuanwei_3750g_35000.jpg
src/assets/chaohuashengmi_5kg_38000.jpg
src/assets/chaochandou_4000.jpg
src/assets/chandou_xiehuangwei_80g_3000.jpg
src/assets/bulaolintang_4500.jpg
src/assets/bingtang_200g_2500.jpg
src/assets/beijingsutang_4500.jpg
src/assets/bajiaofen_20g_2500.jpg
src/assets/bajiao_daliao_30g_2500.jpg
src/assets/baitang_400g_3500.jpg
src/assets/anqi_ganxiaomu_15g_800.jpg
src/assets/aerbeisinaitang_yuanwei_150g_4500.jpg
src/assets/4chuan_malasuniurou_jpg로변환.png
src/assets/4chuan_xianglasuniurou_jpg로변환.png
src/assets/5gua_qiaqiajiaotang_추가해야함.jpg
src/assets/6rou_ziranxinguan_추가해야함.jpg
src/assets/9gan_gandoufu_추가해야함.jpg
src/assets/9gan_guamian_추가해야함.jpg
src/assets/9gan_qiaomailengmian_추가해야함.jpg
src-cordova/app-release-unsigned.apk
src-cordova/cfomarket-mobileapps.keystore
src-cordova/cfomarket.apk
src-cordova/zipalign.exe
yarn.lock
src/configs/index.js
src-cordova/config.xml
src-cordova/package-lock.json
src-cordova/package.json
yarn.lock
src/configs/index.js
src-cordova/config.xml
src-cordova/package-lock.json
src-cordova/package.json
