.DS_Store
.thumbs.db
node_modules

# Quasar core related directories
.quasar


# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

#dist/spa/images
#dist/spa/icons
#public/images

src-cordova/app-release-unsigned.apk
src-cordova/cfomarket-mobileapps.keystore
src-cordova/cfomarket.apk
src-cordova/zipalign.exe
yarn.lock
src/configs/index.js
src-cordova/package-lock.json
src-cordova/package.json
yarn.lock
src/configs/index.js
src-cordova/package-lock.json
src-cordova/package.json
backend/sslkey
src/configs/index.json
src-cordova/build.json
src-cordova/cfomarket0-key.keystore

# backend/server_local.js
backend/configs/db copy.js
backend/server_local.js
quasar.config_local.js
backend/router/noauth_local.js
backend/server_local_old.js
backend/server_local.js
backend/configs/db_local.js
backend/router/auth_local.js
backend/router/index_local.js

