.DS_Store
.thumbs.db
node_modules

# Quasar core related directories
.quasar
/dist

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
src/assets/babaozhou_360g_1750.jpg
src/assets/baolayubang_500.jpg
src/assets/binghongcha_1L_1800.jpg
src/assets/binghongcha_1500.jpg
src/assets/chaotianjiao_50g_2500.jpg
src/assets/chuanqizhanliao_huoguo_120g_2100.jpg
src/assets/doubanjiang_400g_2100.jpg
src/assets/dougan_500.jpg
src/assets/fenhaozi_2000.jpg
src/assets/haerbinhongchang_4200.jpg
src/assets/haidilao_huoguotiaoweiliao_220g_4000.jpg
src/assets/haixianjiangyou_175_8000.jpg
src/assets/hongyoudousi_150g_5000.jpg
src/assets/hongyouzhacai_210g_1800.jpg
src/assets/huoguodiliao_360g_6450.jpg
src/assets/jiangyou_500ml_3080.jpg
src/assets/jianlibao_330ml_1500.jpg
src/assets/jijing_1000g_9550.jpg
src/assets/jingudoujuan_156g_2500.jpg
src/assets/kaiwei_shanzhayinliao_280g_1600.jpg
src/assets/kaolengmian_4100.jpg
src/assets/laochencu_3080.jpg
src/assets/longkoufensi_1600.jpg
src/assets/lvdoukuanfen_180g_2000.jpg
src/assets/malahuasheng_5000.jpg
src/assets/mayou_150ml_2950.jpg
src/assets/meiriyican_mankouxiang_210g_3200.jpg
src/assets/moliqingcha_1500.jpg
src/assets/moyuwan_4000.jpg
src/assets/naicha_500ml_1750.jpg
src/assets/naitang_dabaitu_108g_2260.jpg
src/assets/online_shop_logo.jpg
src/assets/shanzhenyouyu_500.jpg
src/assets/shaqima_5000.jpg
src/assets/shisanxiang_45g_2200.jpg
src/assets/shousixieliu_400.jpg
src/assets/shouzhuabing_450g_3400.jpg
src/assets/suanmeitang_1500.jpg
src/assets/suanxiangwandou_80g_2800.jpg
src/assets/tianshuixiangchang_220g_5800.jpg
src/assets/tiaodou_80g_2000.jpg
src/assets/wanglaoji_310ml_1500.jpg
src/assets/wujiangzhacai_80g_1000.jpg
src/assets/wuliangjianbing_200g_3500.jpg
src/assets/wulongcha_chapai_1500.jpg
src/assets/xiangdangjia_zhupaiwei_20g_500.jpg
src/assets/xianglahuasheng_112g_2100.jpg
src/assets/xianguocheng_500ml_1500.jpg
src/assets/yezisujuan_150g_4500.jpg
src/assets/zhenzhen_1500.jpg
src/assets/zhimajiang_225g_2600.jpg
src/assets/ziranbanganjinxing_110g_3950.jpg
