<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cafe24.cfomarket0" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>chinafood</name>
    <description>chinafoodapp</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-targetSdkVersion" value="34" />
        <preference name="AndroidLaunchMode" value="singleTask" />
        <preference name="Orientation" value="portrait" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/icon-256.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#ffffff" />
        <preference name="SplashScreenDelay" value="2000" />
        <preference name="AppendUserAgent" value="mobileapp androidapp" />
        <icon density="ldpi" src="res/icon/android/icon-256.png" />
        <icon density="mdpi" src="res/icon/android/icon-256.png" />
        <icon density="hdpi" src="res/icon/android/icon-256.png" />
        <icon density="xhdpi" src="res/icon/android/icon-256.png" />
        <icon density="xxhdpi" src="res/icon/android/icon-256.png" />
        <icon density="xxxhdpi" src="res/icon/android/icon-256.png" />
    </platform>
    <platform name="ios">
        <preference name="ScrollEnabled" value="true">
        <splash src="res/screen/ios/Default@2x~iphone~anyany.png" />
        <splash src="res/screen/ios/Default@3x~iphone~anyany.png" />
        <preference name="Orientation" value="portrait" />
        <preference name="AutoHideSplashScreen" value="true" />
        <preference name="ShowSplashScreenSpinner" value="true" />
        <preference name="SplashScreenDelay" value="3000" />
        <icon height="20" src="res/icon/ios/icon-20.png" width="20" />
        <icon height="29" src="res/icon/ios/icon-29.png" width="29" />
        <icon height="40" src="res/icon/ios/icon-40.png" width="40" />
        <icon height="50" src="res/icon/ios/icon-50.png" width="50" />
        <icon height="57" src="res/icon/ios/icon-57.png" width="57" />
        <icon height="58" src="res/icon/ios/icon-58.png" width="58" />
        <icon height="60" src="res/icon/ios/icon-60.png" width="60" />
        <icon height="72" src="res/icon/ios/icon-72.png" width="72" />
        <icon height="76" src="res/icon/ios/icon-76.png" width="76" />
        <icon height="80" src="res/icon/ios/icon-80.png" width="80" />
        <icon height="87" src="res/icon/ios/icon-87.png" width="87" />
        <icon height="100" src="res/icon/ios/icon-100.png" width="100" />
        <icon height="110" src="res/icon/ios/icon-110.png" width="110" />
        <icon height="114" src="res/icon/ios/icon-114.png" width="114" />
        <icon height="120" src="res/icon/ios/icon-120.png" width="120" />
        <icon height="144" src="res/icon/ios/icon-144.png" width="144" />
        <icon height="152" src="res/icon/ios/icon-152.png" width="152" />
        <icon height="167" src="res/icon/ios/icon-167.png" width="167" />
        <icon height="180" src="res/icon/ios/icon-180.png" width="180" />
        <icon height="1024" src="res/icon/ios/icon-1024.png" width="1024" />
    </platform>
    <plugin name="cordova-plugin-customurlscheme" spec="^5.0.2">
        <variable name="URL_SCHEME" value="chinafoodonline" />
    </plugin>
</widget>
